body {
  background-color: rgb(54,217,182) !important;
  background: linear-gradient(90deg, rgba(54,217,182,1) 0%, rgba(32,152,126,1) 43%, rgba(0,212,255,1) 100%);
  height: 100%;
}

h1, h2, h3, h4, h5, p, span, strike{
  font-family: 'Montserrat', sans-serif;

}

.container {
  height: 100%;
}
